.legend {
  position: fixed;
  right: 0;
}

.navigation {
  position: fixed;
  left: 0;
  background-color: #fff;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.module-image > img {
  width: 250px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.graphic-module > img {
  width: 100%;
}

span.date.vertical-timeline-element-date {
  font-size: 6em !important;
}

span.date.vertical-timeline-element-date {
  opacity: 1;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgb(53, 53, 53);
}

.title {
  font-size: 15em;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  margin-bottom: 20px;
}

.timeline-header {
  width: 60%;
  margin: 0 auto;
  color: #fff;;
  padding-bottom: 100px;
}

h3 {
  padding-top: 0.25em;
  padding-right: 40px;
  padding-left: 40px;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}

.date {
  color: rgb(201, 251, 255);
}

#description {
  margin: 1.5em 0 2em 0;
}

.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
}

.workButton {
  background-color: #06d6a0;
}

.workButton:hover {
  background-color: #0ac593;
}

.schoolButton {
  background-color: #f9c74f;
}

.schoolButton:hover {
  background-color: #f3bc3c;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
}
